<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <section class="home-heading">
      <h1>Welcome To My EJS Home Page</h1>
    </section>
    <section class="home-content text-center">
      <% if(trainees.length) { %>
         <% trainees.map((trainee)=> {%>
     <a class="text-decoration-none" href="/todos/specific/<%=trainee._id  %>">
       <h1 class="text-dark"><%= trainee.name %></h1>
      <h3 class="text-white"><%= trainee.profession %></h3>
     </a>
      <% }) %> <% } else { %>
      <h1>No trainees in town today.</h1>
      <% } %>
    </section>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
